@media (max-width: 1300px) {}
@media (max-width: 1120px){}
@media (max-width: 992px){
.menu_logo{
    width: 30px;
    height: auto;
    display: block;
}
}
@media (max-width: 767px){

}
@media (max-width: 576px){
    .header-logo, .mujib-logo{
        display: none;
    }
    .middle-section h2{
        font-size: 1.5rem;
        font-weight: 500px;
        line-height: 1.5;
    }
    .card-header h1,.card-footer h1{
        font-size: 1rem;
        color: white;
        margin: 0px !important;
    }
}
@media (max-width: 480px){}
@media (max-width: 420px) {}
@media (max-width: 376px){}
@media (min-width: 1200px){}